* {
    margin: 0;
    padding: 0;
}

:root {
    padding-top: 100px;
    font: 500 13px "helvetica neue", helvetica, arial,sans-serif;
    color: #5d6d81;
    text-align: center;
}

h1 {
    display: inline-block;
    margin: 0 1px;
    padding: 8px 12px;
    border: 1px solid #e9ebed;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    background: #fafafb;
    font-weight: 500;
    font-size: 13px;
    color: #1394bf;
    cursor: pointer;
}

h1.active {
    position: relative;
    z-index: 1;
    background: #fff;
}

p {
    position: absolute;
    display: none;
    width: 380px;
    margin-top: -1px;
    left: calc(50% - 190px);
    padding-top: 28px;
    border-top: 1px solid #e9ebed;
}

h1.active + p {
    display: block;
}

